%h1.episodios-header Episódios
.card-deck
	- @videos.each do |video|
		.card.card-inverse.episode
			= image_tag 'casa_da_farinha.jpg', class: "card-img"
			.card-img-overlay
				%h2.card-title.text-shadow= video.title
				%br
				%button.btn.btn-secondary Assista
	- many_videos = (@videos.length % 6)
	- if many_videos != 0
		- for i in 1 .. ( 6 - many_videos)
			.card.episode
				.card-block
					%h2.card-title Em breve

