%h1.episodios-header Episódios
.card-deck
	- @videos.each do |video|
		.card.episode
			= image_tag video.cover.url, class: "card-img-top", width: "380px"
			.card-block
				%h4.card-title= video.title
				%button.btn.btn-primary{data: {data: video.id} } Assista
	- many_videos = (@videos.length % 6)
	- if many_videos != 0
		- for i in 1 .. ( 6 - many_videos)
			.card.episode
				.card-block
					%h2.soon-title Em breve

																										 