.row
    #mapInfoDisplay.MapInfos.col-sm-5
        .card
            %img#markCover.img-fluid.cover-img
            .card-block
                .card-title
                    %h3#markTitle.text-xs-center
                #markContent.content
                    %h2 Navegue pelo mapa
                %a.btn.btn-primary.btn-watch.js-map-watch.js-smooth-scroll{data: {video_id: "0"}, href: "#home", class: "hidden"}
                    Assista
    #map-col.col-sm-7
        #map-embed 