// Navbar height: 6.5vh
//  Therefore 2vh pad
.-default-padding {
	padding: 1rem 2rem;
	padding-top: 8.5vh;
}


.text-shadow {
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 1);
}


.hidden { display: none !important;}




.-anchor-bottom {
	position: absolute;
	bottom: 1.2rem
}

.-center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.-center-y {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.-center-x-y {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}



@mixin mixin-clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}