@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "colors";

$phone-width: 640px;
$tablet-width: 768px;
$desktop-width: 1024px !default;
$nav-height: 6.5vh;

html {
	max-width: 100vw;
	overflow-x: hidden;
	font-size: 16px;
}

section {
	position: relative;
	min-height: 100vh;
	min-width:	100vw;
	padding: 0;
}


@media screen and (max-width: $phone-width) {
  html  { font-size: 8px; }
}
    
@media screen and (min-width: $phone-width) and (max-width: 769px) {
  html  { font-size: 12px; }
} 

body {
  position: relative;
  padding: 0;
  padding-right: 0px !important; // Stop modal changing width
  font-family: 'Open Sans', sans-serif;
}


//  Background Color 
.bg-brown  { background-color: $brown }
.bg-green  { background-color: $green }
.bg-wine   { background-color: $wine  }


// 
//  Utility Classes
// 

.session-status {
    position: absolute;
    top: 8.5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    width: 25%;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    opacity: 0.85;
    color: #FFFFFF;
    animation: 2s ease session-status-fade;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes session-status-fade {
    from { opacity: 0.85 }
    to { opacity: 0 }
}