@import 'utility';


//  Basic settings
// 100% heights allows google maps embed to work
#mapa {
	height: 100vh;
	@extend .-default-padding;

	.row 		{ height: 100%; }
	#map-col	{ height: 100%; }
	#map-embed	{ height: 100%; }
}


// Map information displayer
//
.MapInfos {
	height: 100%;
	text-align: left;
	
	> .card { height: 100%; }
      
	.content { text-align: left; }
	.card-title { text-align: center; }

	.cover-img {
		display: block;
		max-height: 25%;
		margin: 0 auto;
	}

	.btn-watch {
		font-size: 1rem;
		@extend .-center-x;
	}

	h2 {
		@extend .-center-x-y;
	}
}