#player-container {
  position: relative
}
  
#interactive-player {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;
  
  a {
    display: none;
    position: absolute;
    z-index: 99;
    color: #fff !important;
  }
  
  button {
    border: none;
  }

  a:hover,
  button:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .map-button {
    font-size: 5rem;
    color: #fff;
   }

  #new-post-form {
    position: absolute;
    margin: 0 auto;
    background-color: #FFFFFF;  
  }
}

#youtube {
  padding: 0;
  max-height: 100vh;
  max-width: 100vw;
}
 
.new-post-form,
.require-login {
  display: none;
  position: relative;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1.5rem 2rem;
  z-index: 999;
  width: 600px;
  border-radius: 1rem;
  background-color: #EFEFEF;
  box-shadow: 0px 0px 10px 2px rgba(2, 2, 2, 0.55);
}

.require-login {
  h4 { display: inline }
  a { 
    display: inline-block;
    margin-left: 10px;
    top: 50%;
    transform: translateY(-50%)
  }
}
#newPostReceiver { display: none }