#main-navbar
  %a#navlogo{href: "#home"} LOGO
  #navicons-container
    %a{href: "#home"} 
      = icon 'home', id: "nav-home-icon", class: "glyphicon.glyphicon-home.small-icon"
    %a{href: "#map-div"}
      = icon 'globe', class: 'small-icon'
    %a{href: "#videos"}
      = icon 'film', class: 'small-icon'
    %a{href: "#sobre"}
      = icon 'info-circle', class: 'small-icon'
      